name: CI
on:
  push:
    branches:
     - main
     - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: setup_env
        run: |
          brew update
          brew install node
          brew install --cask inkscape
          brew install vips
          brew install libpng
          export LANG=en_US.UTF-8
          unset cd
          brew tap autoasset/autoasset
          brew install autoasset/autoasset/autoasset

      - name: build_tag
        run: autoasset --config .autoasset/run-tags.yml --env .autoasset/env.yml
